<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{dd-MM-YY HH:mm:ss}) %highlight(%level) %boldWhite(-) %magenta(%logger{16}) - %boldWhite(%msg%n)
            </pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>